# Packages available in JupyterLite environment
# These will be installed via piplite in the browser

# Core scientific packages (pyodide compatible)
numpy
pandas  
plotly

# agex will need to be available - for now we'll install via local wheel
# TODO: Once agex is published to PyPI, we can include it here 